$theme-color: #82B3ED;
$theme-color-dark: darken($theme-color, 10%);

$post-date-color: #9a9a9a;
$title-color: #313131;
$masthead-title-small-color: #c0c0c0;

/* Layout */
$reverse-layout: true;
$overlay-sidebar: false;

/* Font stack */
$font-serif: "Jeju Myeongjo", Jeju Myeongjo, serif;
$font-sans: "Jeju Gothic", Jeju Gothic, sans-serif;
$font-font-awesome: FontAwesome;
